@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.dropdownButton {
  padding: 10px;
  margin: 30px 0 0 80px;
  color: colors.$WHITE;
  background-color: colors.$BLUE_LIGHT;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 20%) 0 2px 8px 0;
}
